[defaults]
inventory = inventory/hosts.yml
remote_user = ansible
become = true
forks = 20
host_key_checking = false
log_path = ansible.log
roles_path = roles
collections_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
timeout = 30

[privilege_escalation]
become_method = sudo
become_user = root
become_ask_pass = false

[ssh_connection]
pipelining = true
control_path = /tmp/ansible-ssh-%%h-%%p-%%r

[vault]
# Specifica il file della passwordvault per tutti i comandi ansible (tranne vault-specifici)
# Useremo questo file quando lanciamo i comandi manualmente.
# Nota:vault_password_file non funziona con inventory_dir, quindi lo lasciamo vuoto e usiamo --vault-password-file dai comandi.
vault_password_file = .vault_pass